@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body{
    background-color: #F5EDDC;
    font-family: 'Handlee', cursive;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

h4 {
    text-align: center;
    font-weight: 200;
    margin: 0;
}

#first_section p {
    text-align: center;
    width: 50%;
    margin: 3% auto;
    font-size: 20px;
}

u {
    font-weight: 600;
}

#first_section{
    margin-top: 10%;
}

.img_div {
    width: 200px;
    height: 200px;
    border: 1px solid #cfc09c;
    margin: 3% auto;
    border-radius: 50%;
    position: relative;
}

.img_div:hover .cake_link {
    display: flex;
}

.img_div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.cake_link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(128, 128, 128, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 100;
    display: none;
    align-items: center ;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

/* NEXT PAGE */

.top_image {
    background-image: url("images/cake2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    position: relative;
}

.top_text {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2% 0;
}

.top_text p {
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: 8px;
    word-spacing: 5px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.outer_div {
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    width: 25%;
    margin: 3% auto;
    padding: 12px;
    border: 1px solid #cfc09c;
}

.inner_div {
    border: 1px solid #5f4141;
    text-align: right;
    padding: 10px;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 600;
}

.left_span {
    float: left;
}

.combined {
    display: flex;
    margin: 2% 3%;
    justify-content: space-between;
}

#ingredients {
    width: 50%;
}

.ingredients_list {
    font-size: 1.3rem;
}

#procedures {
    width: 50%;
}

.procedures_list {
    font-size: 1.3rem;
    letter-spacing: 0.8px;
    line-height: 28px;
}

#tips {
    margin-top: 21%;
}

#tips p {
    text-align: left;
    font-size: 1.1rem;
    margin: 0;
}

.tips_div {
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 3px;
    width: 95%;
    border-radius: 10px;
}

.tips_div li {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.link_div {
    width: 150px;
    height: 150px;
    border: 1px solid #cfc09c;
    margin: 1% auto;
    border-radius: 50%;
    /* display: flex; */
    /* position: relative; */
}

.page_link {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    background-color: rgb(95, 65, 65);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* z-index: 100; */
    /* display: none; */
    display: flex;
    align-items: center ;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.link_div:hover .page_link {
    background-color: rgb(95, 65, 65, 0.7);
}